<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Excluir Loja</title>
  </head>
  <body>
    <h1>Excluir Loja</h1>

    <p>Tem certeza que deseja excluir a loja "{{ loja.nome }}"?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit">Confirmar Exclusão</button>
      <a href="{% url 'cadastro:listar_lojas' %}">Cancelar</a>
    </form>
  </body>
</html>
