{% extends "base.html" %} {% block title %} Página Inicial - Shopping InfoCena
{% endblock %} {% block content %}
<div class="text-center mt-md-5 mt-3">
  <div class="mb-5">
    <h1 class="display-4"><strong>Bem-vindo ao Shopping InfoCena</strong></h1>
    <p class="lead"><strong>Sua plataforma de lojas de informática.</strong></p>
    <hr class="my-4" />
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <a
        href="{% url 'cadastro:listar_lojas' %}"
        class="btn btn-success btn-lg w-100 p-3 shadow-sm"
      >
        Gerenciar Lojas
      </a>
    </div>
  </div>

  <div class="mt-5">
    <p class="text-muted">
      <strong>Utilize o botão acima para navegar pelas funcionalidades.</strong>
    </p>
  </div>
</div>
{% endblock %}
